@import 'hamburgers.css';

body {
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}



.slideRight {
  transition-duration: 1s;
  transform: translateX(0%);
}
.slideLeft {
  transition-duration: 1s;
  transform: translateX(-100%);
}

#burger, #menu {
  position: absolute;
  top:10%;
}
#burger {
  z-index:3;
  left:5%;
  cursor:pointer;
}
#menu {
  top:0;
  bottom:0;
  width:20%;
  min-width: 140px;
  background-color: yellow;
  display:grid;
  grid-template-rows: repeat(5,1fr)
}

.onerow {
  grid-row: 0/1;
  display: flex;
  flex-direction: column;
}
.tworow {
  grid-row: 1/2;
}
.threerow {
  grid-row: 2/3;
}
.fourrow {
  grid-row: 3/4;
}
.fiverow {
  grid-row: 4/5;
}
